/* Estilo para a mensagem de erro */
.alert-danger {
    margin-top: 10px;
    padding: 10px;
    background-color: #f44336; 
    border: 1px solid #d32f2f;
    color: #ffffff;
}

/* Estilo para a mensagem de sucesso */
.alert-success {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50; 
    border: 1px solid #45a049;
    color: #ffffff;
}